# gradle-wrapper.jar는 Git에 포함되어야 합니다 (Gradle Wrapper 필수 파일)
# gradle-wrapper.jar
/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
