<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993358352828-esehccg0b6bb1lo1gof18sqvr1ndo1rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993358352828-esehccg0b6bb1lo1gof18sqvr1ndo1rr</string>
	<key>API_KEY</key>
	<string>AIzaSyB3zcZ7KiHbxHquaAD07zQ94-TY_ypV_IE</string>
	<key>GCM_SENDER_ID</key>
	<string>993358352828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapsy</string>
	<key>PROJECT_ID</key>
	<string>mapsy-40e92</string>
	<key>STORAGE_BUCKET</key>
	<string>mapsy-40e92.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993358352828:ios:37ff835d682dc7199b5bb9</string>
</dict>
</plist>